.title {
	font-size: 3.5rem;
	color: hsl(0, 0%, 20%);
	margin-top: 10px 0;

	@media (max-width: 768px) {
		font-size: 2.5rem;
		text-align: center;
	}
}

.choices {
	margin-bottom: 30px;
	@media (max-width: 768px) {
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}
}

.choices button {
	font-size: 7.5rem;
	min-width: 160px;
	margin: 0 10px;
	border-radius: 250px;
	background-color: hsl(200, 100%, 50%);
	cursor: pointer;
	transition: background-color 0.5s ease;
	color: yellow;

	@media (max-width: 768px) {
		font-size: 6rem;
		min-width: 0;
	}
}

.choices button:disabled {
	cursor: default;
	background-color: gray;
}

.choices button:not(:disabled):hover {
	background-color: hsl(200, 100%, 70%);
}

.playerDisplay,
.enemyDisplay {
	font-size: 2.5rem;
	@media (max-width: 768px) {
		font-size: 1.2rem;
		text-align: center;
		padding: 5px;
	}
}

.resultDisplay {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 5rem;
	margin: 30px 0;

	@media (max-width: 768px) {
		font-size: 2rem;
		text-align: center;
		margin: 20px 0;
	}
}

.scoreDisplay {
	font-size: 2rem;

	@media (max-width: 768px) {
		font-size: 1.2rem;
		text-align: center;
	}
}

.greenText,
.playerScoreDisplay {
	color: hsl(130, 84%, 54%);
}

.redText,
.enemyScoreDisplay {
	color: hsl(0, 84%, 60%);
}
